<ion-view title="Treenisi">
<!--
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-more"></button>
  </ion-nav-buttons>
  -->
  
  
<!--
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-plus-circled"></button>
  </ion-nav-buttons>-->


  
  <ion-content class="has-header bg bg-run2 fullheight" >
    
	
	<div id="mainChart" style="height: 300px; width: 100%;">
	
	</div>
	
	<div style="position:absolute;top:29px;width: 100%;z-index:999;">

			<div class="center gaugeWrap big" >
				<div class="gauge-circle">
				<span class="title-top">Tällä viikolla</span>
				<div class="title" ><img style="height: 34px; float: left; margin-top: 20px;" src="img/squaredot_green.png" />{{thisweek}}</div>
				</div>
			</div>
	</div>
	<div class="row numrow">
		<div class="col col-50 bordercol">
			<div class="left numWrap">

				<h3 class="title">Keskiarvo viikossa</h3>
				<span class="num" id="num1">{{weekAverage}}</span>
					
				<h3 class="title">30 päivän aikana</h3>
				<span class="num" id="num2">{{past30Days}} </span> <!--<i class="numicon icon ion-ios7-arrow-thin-up"></i> <i class="numicon down icon ion-ios7-arrow-thin-down"></i> <i class="numicon icon ion-ios7-minus-empty"></i>-->
			</div>
		</div>
		<div class="col col-50">
			<div class="right numWrap">
	
				<h3 class="title">Tänä vuonna</h3>
				<span class="num" id="num3">{{thisYearCount}}</span>
					
				<h3 class="title">Yhteensä</h3>
				<span class="num" id="num4">{{total}}</span>
			</div>
		</div>

	</div>
		
	<!--
	<ion-list>
      <ion-item ng-repeat="training in trainings" type="item-text-wrap" href="#/tab/training/{{training.id}}">
        <div class="row">
			<div class="col"><span class="pull-right"><i class="icon ion-ios7-calendar-outline"></i> {{training.time}}</span></div>
			<div class="col">{{training.name}}</div>
		</div>
      </ion-item>
    </ion-list>
	-->
	
  </ion-content>
  
</ion-view>
