<ion-view title="Aikajana">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header padding" >
   

		<ion-scroll direction="y" scrollbar-y="true">
		<div style="text-align:center;">
		<h3>Kesäkuu 2014</h3>
		<ul id="list_days">
	
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 1.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			01			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 2.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			02			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li>
			03			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 4.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			04			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 5.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			05			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li>
			06			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 7.6.2014 05:00-23:00 
                                
                               " class="has_events popopenhas_events popopen" data-original-title="" title="">
			07			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li>
			08			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali &lt;/h3&gt; 9.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			09			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li>
			10			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="today ">
			11			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			12			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			13			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			14			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			15			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			16			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li class="future ">
			17			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="future ">
			18			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			19			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			20			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			21			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			22			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			23			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li class="future ">
			24			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="future ">
			25			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			26			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			27			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			28			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			29			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			30			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
		</ul>
		
	
		<h3>Toukokuu 2014</h3>
		<ul id="list_days">
	
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 1.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			01			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 2.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			02			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li>
			03			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 4.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			04			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 5.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			05			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li>
			06			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali&lt;/h3&gt; 7.6.2014 05:00-23:00 
                                
                               " class="has_events popopenhas_events popopen" data-original-title="" title="">
			07			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li>
			08			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li data-content="&lt;h3&gt;Kuntosali &lt;/h3&gt; 9.6.2014 05:00-23:00 
                                
                               " class="has_events popopen" data-original-title="" title="">
			09			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li>
			10			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="today ">
			11			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			12			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			13			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			14			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			15			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			16			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li class="future ">
			17			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="future ">
			18			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			19			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			20			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			21			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			22			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			23			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
			
		<li class="future ">
			24			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ti</span>
		</li>
		
			
		<li class="future ">
			25			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ke</span>
		</li>
		
			
		<li class="future ">
			26			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">to</span>
		</li>
		
			
		<li class="future ">
			27			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">pe</span>
		</li>
		
			
		<li class="future ">
			28			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">la</span>
		</li>
		
			
		<li class="future ">
			29			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">su</span>
		</li>
		
			
		<li class="future ">
			30			<span style="font-size:66%; text-align:center; color:#aaa;" class="weekday">ma</span>
		</li>
		
		</ul>
		</div>
		
		</ion-scroll>	
		<style>
#list_days > li:after {
    border-right: 5px solid #555555;
    content: "";
    display: block;
    height: 100px;
    left: -74px;
    position: absolute;
    top: 47px;
    width: 100px;
    z-index: 0;
}
#list_days > li.has_events {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
#list_days > li {
    background: none repeat scroll 0 0 #666666;
    border-radius: 100%;
    color: #DDDDDD;
    display: block;
    float: none;
    font-size: 22px;
    font-weight: 100;
	font-family:sans-serif;
    height: 48px;
    line-height: 35px;
    list-style: none outside none;
    margin: 0 6px 40px 0;
    padding: 7px;
    position: relative;
    text-align: center;
    width: 48px;
    z-index: 999;
	
}
#list_days > li.has_events:hover,
#list_days > li.has_events:active {
	background:#8C042F
}
.weekday {
    font-weight: 100;
    position: absolute;
    right: -27px;
	text-align:left;
}

ul#list_days {
    max-width: 50px;
    position: relative;
	margin:0 auto;
	overflow:visible;
}
		</style>
	
  </ion-content>
</ion-view>
