<ion-view title="Kehitys">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header bg bg-black fullheight"  >
       
	
	
	
	<div class="center chartwrap">
		<div id="chart_div" style="height: 330px; width: 100%;  font-family:'RobotoLight'; text-align:center;font-size:30px;padding-bottom:20px;color:#eee;"></div>
	</div>	
	
	
	<h2 class="" style="margin:30px 0 0;font-family: RobotoLight; position: relative;  font-size: 15px; text-transform: uppercase; font-weight: 300; padding: 9px; text-align: center; color: rgb(153, 153, 153); border-top: medium none; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);">
		<span style="margin-right: 15px; font-family: &quot;Roboto&quot;; color: rgb(69, 204, 190);">{{thisDay}}. {{thisMonthName}}</span>Tilanne
	</h2>
	
	
	<div class="row bignumbrow">
		<div class="col green"><h3 class="num">{{thisYearCount}}</h3><span class="help">Tänä vuonna</span></div>
		<div class="col"><h3 class="num">{{lastYearCount}}</h3><span class="help">Viime vuonna</span></div> 
	</div>
	
	<style>
		.bignumbrow {padding:0; background: #45CCBE;}
		.bignumbrow .col:first-child {border-right:1px solid rgba(255,255,255, 0.3)}
		.bignumbrow .col {text-align:center;}
		.num {color:#eee; font-weight:normal; font-family:'Roboto'; font-size:50px;line-height:60px;}
		.help  {color:#555;text-transform:uppercase; font-family:'Raleway'; font-size:13px;}
	</style>
	<!-- test BEGIN 
	<div class="center gaugeWrap">	
		<div class="gauge" >
			<canvas width="150px" height="150px" id="gauge1"></canvas>
			<div class="title" >5</div>
		</div>
	</div>
	<style>
		.gauge {margin:20px;opacity:1;background:#000;padding:5px; display:block; border-radius:100%;overflow:hidden;width:160px; height:160px;position:relative;text-align:center;font-weight:900;}
		/*#gauge1 {transform: rotate(180deg);}*/
		.gaugeWrap .title {font-size:60px; color:#E0E055;top:-100px;color:#fff; position:relative;font-weight:000; }	
	</style>

	test END -->
	<!--
	<ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
	-->
  </ion-content>
</ion-view>
