<!-- 
	Template for Intro

-->
      <ion-view left-buttons="leftButtons" right-buttons="rightButtons"  >
        <ion-slide-box on-slide-changed="slideChanged(index)" style="background:url(img/loadman/run.jpg) no-repeat 20% 0; background-size:auto 100%;" >
          <ion-slide style="background:transparent;">
            <h1>TREENIT</h1>

            <p>
				Oletko kova treenaaja?
            </p>
            <p>
				Ota selvää
            </p>
          </ion-slide>
          <ion-slide style="background:transparent;">
            <h1>Aloita tästä</h1>
            
            <div id="list">
              <h4>Syötä tunnukset</h4>
              <div class="list fadeform">
			   <!-- Tunnus -->
			   <label class="item item-input">
				<input type="text" placeholder="Käyttäjätunnus">
			   </label>
			   
			   <!-- Password -->
			   <label class="item item-input">
				<input type="text" placeholder="Salasana">
			   </label>
			   
			   <!-- Choose center -->
			   <label class="item item-input item-select">
				<div class="input-label">
				  Treenipaikka
				</div>
				<select>
				  <option>Valitse</option>
				  <option>Aplico</option>
				  <option>Forever</option>
				  <option>Fressi</option>
				</select>
				</label>
			   
			   <a class="button button-block button-dark " id="startApp" href="#/tab/dash">
				  Aloita
			  </a>
			</div>

            </div>
          </ion-slide>
        </ion-slide-box>
      </ion-view>