<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->


<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" style="background:#000 url(img/loadman/new_dark.jpg) no-repeat 50% 100%; background-size: 150% auto;">
    <header class="bar bar-header bar-dark" style="background:#000">
		<h1 class="title"><span style="background:#444; display:inline-block;text-align:center; font-size:22px; margin:1px 5px  0 10px; line-height:28px;width:28px; height:28px; border-radius:50%;color:#aaa;"><i class="icon ion-ios7-person"></i></span> Pasi Lampinen</h1>
     <!-- <h1 class="title"><img src="img/treenit100.png" style="width:40px;float:left;margin-bottom:-3px;" alt="" /> Valikko</h1>-->
    </header>
    <ion-content class="has-header sidenav">
      <ion-list>
        <ion-item nav-clear menu-close ng-href="#/app/dash" ng-class="{active: isItemActive('app/dash')}">
         <i class="icon ion-ios7-heart-outline"></i> Treenisi
        </ion-item>
		
		<ion-item nav-clear menu-close ng-href="#/app/timeline" ng-class="{active: isItemActive('app/timeline')}">
         <i class="icon ion-ios7-infinite-outline"></i> Aikajana
        </ion-item>
		
        <ion-item nav-clear menu-close ng-href="#/app/friends" ng-class="{active: isItemActive('app/friends')}">
          <i class="icon ion-ios7-pie-outline"></i> Tarkka
        </ion-item>
		

		
        <ion-item nav-clear menu-close ng-href="#/app/account" ng-class="{active: isItemActive('app/account')}">
         <i class="icon ion-ios7-chatbubble-outline"></i> Blogit
        </ion-item>
		
		<ion-item nav-clear menu-close ng-href="#/app/account" ng-class="{active: isItemActive('app/accpount')}">
         <i class="icon ion-ios7-gear-outline"></i> Asetukset
        </ion-item>
			
		
		
      </ion-list>
	  
	  
    </ion-content>
	 <img src="img/treenit-transparent-100.png" style="width:46px; z-index:0;position:absolute; bottom:10px; left:10px; margin-left:-0px; opacity:0.3;" alt="" />
	 
  </ion-side-menu>
</ion-side-menus>
